{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'bug-tracking-issues-grid' %}

{% oro_title_set({
titleTemplate : "%entity%",
params : {
"%entity%": 'academic.bugtracking.issue.entity_plural_label'|trans,
}
}) %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class: entity_class,
    exportProcessor: 'academic.bug_tracking_issue',
    exportTemplateProcessor: 'academic.bug_tracking_issue',
    exportTitle: 'Export',
    importProcessor: 'academic.bug_tracking_issue',
    importTitle: 'Import',
    dataGridName: gridName
    } %}
    <div class="btn-group pull-right">
        {{ UI.addButton({
            'path': path('academic_bug_tracking_create'),
            'entity_label': 'academic.bugtracking.issue.entity_label'|trans
        }) }}
    </div>
{% endblock %}
